@use "../abstract/mixins";
@use "../abstract/variables" as vars;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#text-green {
    color: vars.$green;
    font: {
        size: 20px;
        family: 'Montserrat', sans-serif;
        weight: 700;
    }
    cursor: copy;
}

.green-span {
    color: vars.$green;
}

.cart-item {
    padding: 30px 50px;
}