@use "../abstract/mixins";
@use "../abstract/variables" as vars;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#text-green {
    color: vars.$green;
}

.green-span {
    color: vars.$green;
}

.cart-item {
    padding: 30px 50px;
}