@use "../abstract/variables" as vars;
@use "../abstract/mixins";
@use "../base/base";

.services {
    position: relative;
    top: -60px;
    background: url(../../images/Ellipse\ 115.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 250px;
    &__lists {
        display: flex;
        justify-content: space-between;
        background: rgba(245, 250, 255, 0.8);
        border-radius: 30px;
    }
    &__item {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        p {
            text-align: center;
            margin-top: 15px;
            font: {
                size: 12px;
                family: 'Montserrat', sans-serif;
                weight: 500;
            }
        }
    }
    &__link {
        display: flex;
        justify-content: space-between;
        margin-top: 110px;
        a {
            border-radius: 150px;
            padding-top: 15px;
            padding-bottom: 15px;
            display: inline-block;
            width: 48%;
            text-align: center;
            font: {
                size: 25px;
                family: 'Comfortaa', cursive;
                weight: 700;
            }
            &:first-child {
                color: #F5FAFF;
                background-color: vars.$green;
                box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
                &:hover {
                    box-shadow: none;
                    color: vars.$text-black;
                    background-color: vars.$main-bg-color;
                }
                &:active {
                    opacity: 0.7;
                }
            }
            &:last-child {
                color: vars.$text-black;
                background-color: vars.$main-bg-color;
                &:hover {
                    color: #F5FAFF;
                    background-color: vars.$green;
                }
                &:active {
                    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
                    opacity: 0.8;
                }
            }
        }
    }
    &__information {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        &-item {
            list-style: none;
            text-align: center;
            h4 {
                text-transform: uppercase;
                font: {
                    size: 18px;
                    family: 'Comfortaa', cursive;
                    weight: 700;
                }
            }
            p {
                font: {
                    size: 14px;
                    family: 'Montserrat', sans-serif;
                    weight: 400;
                }
            }
        }
    }
    
}